body {
    font-family: "Hind";
}
#image-main {
    background-size: cover;
    background-image: url('../img/kanyewest.jpg');
    background-position: center;
}

#image-main > .container-fluid {
    padding: 425px 0px;
    text-align: center;
    font-family: 'Oswald';
    color: white;
}

.row {
    text-align: center;
}

.col-md-8 > .row {
    padding: 10px;
}